@font-face {
    font-family: Raleway;
    src: url('static/Raleway-Black.ttf') url('static/Raleway-BlackItalic.ttf') 
        url('static/Raleway-VariableFont_wght.ttf')
      }

  
    * {
        box-sizing: border-box;
        font-family: 'Raleway', Arial, Helvetica, sans-serif
    }

a{
    color: inherit;
    text-decoration: none;
  }




.sinscrire {
   color: #0065FC;
   font-weight: bold;
   display: none;
}
.sinscrire a:hover{
border-top: 2px solid #0065FC;
}
.titre_principal{
    font-size: 7px;
    font-family: Raleway;
    color: black;
    }
.titre_principal p{
    color: grey;
    font-family: Raleway;
}
.body{
    margin-right: 9px;
}
/*HEADER2 */

.Header2{
    padding: 0px  13px;
    margin-bottom: 10px;
}
.titre_principal{
    font-size: 10px;
    font-family: Raleway;
    color: black;
    }




/*SEARCH FORM*/


.search_form * {
    display: flex;
    align-items: center;
    font-size: 10px;
    margin-top: 10px;
    margin: 0px;
}

.search_form {
  padding: 9px 10px ;
  padding-right: -4px;
  }

.search_form i{
   padding: 15px 30px 15px 30px;
    background-color: #f2f2f2;
    border-radius: 8px 0px 0px 8px;
}

.search_form input{
    border: 1px solid #f2f2f2;
    padding:15px 30px 15px 30px;
    color: #0065FC;
}


.search_form input:placeholder{
   font-size:11px;
   padding: 15px 30px 15px 30px;
   color: black;
}



/*FILTERS */

.Filtres_liste{
    display: flex;
    align-items: center;
    gap: 15px 10px;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 15px;
}


.fa-dog,
.fa-child,
.fa-heart,
.fa-money-bill-wave{
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 8px;
    border-radius:15px;
    margin: -1px;
}
    
.filtre {
    border: 2px solid lightgrey;
    border-radius: 80px;
    margin: 3px;
    border-width: 1px;
}


.filtre span{
    font-weight: bold;
    padding: 32px;
}

/*RESULTATS MESSAGE */

.info_message{
    color:grey;
    margin-top:16px;
}

.fas.fa-info-circle{
    color: #0065FC;
    
}

.info_message.fas.fa-info-circle{
    margin-top: 30px;
    margin-bottom: 30px;
}


/* Les hébergements à Marseille */

#Hebergements{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-top:10px;
   }


#ibooki__hebergements {
    display: flex;
    flex-direction: column;
    justify-content: flex-start
    }






@media (max-width:810px){
    .Hebergements{
        flex-direction: column;
    }
    .populaires{
        order:-1;
    }
    
}


.ibooki__container_herbergements{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
   justify-content: space-between;
   flex-basis: 32px;
}
   

.plus{
   padding: 1px;
}



.ibooki__card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    border-radius: 16px;
    background-color: white;
    width: 100%;
    margin-top:-35px;
    font-size: 15px;
    margin:5px;
    padding: 10px 6px 5px 5px;
    }


.ibooki__card img {
    object-fit: cover;
    border-radius: 16px;
    width:100%;
    }


.ibooki__title p,
.ibooki__title h3{
    margin: 3px;
 }


.blue{
    color: #0065FC;
}
.grey{
    color: grey;
}


/*Les populaires*/

#ibooki__hebergement_populaires{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    max-width: 375px;
    padding: 20px 35px 20px 25px;
}


.ibooki__card_populaires{
    display: flex;
    background-color:white;
    border: 3px solid white;
    border-radius: 20px;
    max-width:290px;
    max-height: 145px;
    gap:40px;
    
}


.ibooki__card_populaires img{
    width:132px;
    height:132px;
    object-fit: cover;
    border-bottom-left-radius: 10px;
    border-top-left-radius:10px;
}
    
.ibooki_contenu_populaires{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    font-size: 15px;
}


.etoiles{
    padding-bottom: 50px;
}
    
   


/*Activités à Marseille*/

 #ibooki_Activites_Marseille{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    width:100%;
    
}

.title_activites_Marseille{
    margin-bottom: 27px;
    margin-left: 12px;
    font-size: large;
}
.ibooki_Activites{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:35px;
    border-radius: 20px;
   } 
    
.ibooki_Activite1,
.ibooki_activite4{
    box-shadow: 0 0 20px #0000002e;
    gap:40px;
    margin-bottom: 50px;
    border-top-right-radius:20px;
    border-top-left-radius: 20px;
    border-radius: 20px;
    }


.ibooki_activite2et3,
.ibooki_activite5et6{
    display:flex;
    flex-direction: column;
    background-color: #f2f2f2;
    box-shadow: 0 0 20px black;
    border-top-right-radius:20px;
    border-top-left-radius: 20px;
    margin-bottom: 50px;
    border-radius:20px;
    }

.ibooki_activite2,
.ibooki_activite5{
    margin-bottom: 50px;
    border-radius: 20px;
    background-color: #f2f2f2;
    box-shadow: 0 0 20px black;
}


.ibooki_photo_activite1,
.ibooki_photo_activite2,
.ibooki_photo_activite3,
.ibooki_photo_activite4,
.ibooki_photo_activite5,
.ibooki_photo_activite6{
    background-size: 100% 100%;
    border-radius: 20px;
    border-top-right-radius:20px;
    border-top-left-radius: 20px;
    }

  .ibooki_titre_activite1,
  .ibooki_titre_activite2,
  .ibooki_titre_activite3,
  .ibooki_titre_activite4,
  .ibooki_titre_activite5,
  .ibooki_titre_activite6{
    margin-left: 20px;
    }
.ibooki_photo_activite1 img,
.ibooki_photo_activite4 img{
    width: 301px;
    height: 390px;
}
.ibooki_photo_activite2 img{
    width: 304px;
    height: 183px;
}

.ibooki_photo_activite3 img{
    width: 304px;
    height: 112px;
}

.ibooki_photo_activite5 img{
    width: 304px;
    height: 141px;
}

.ibooki_photo_activite6 img{
    width: 304px;
    height: 155px;
}

.ibooki_photo_activite1 img,
.ibooki_photo_activite2 img,
.ibooki_photo_activite3 img,
.ibooki_photo_activite4 img,
.ibooki_photo_activite5 img,
.ibooki_photo_activite6 img{
   border-top-right-radius:20px;
   border-top-left-radius: 20px;
   object-fit: cover;
    }

/*FOOTER*/



.footer{
   width:100%;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 45px 20px 45px 29px;
}

.a_propos,
.nos_hebergements,
.assistance{
    display: flex;
    flex-direction: column;
   }



ol{
    list-style: none;
}
.a_propos h4,
.nos_hebergements h4,
.assistance h4{
    font-size: normal;
    color: gray;
    }

